
.card {
    position: relative;
    margin: 0;
    box-shadow: 0 10px 80px rgba(0, 0, 0, 0.26);
    border-radius: 16px;
    padding: 1rem;
    overflow: hidden;
    background: beige;
    width:900px;
  }